# Caminhos (coloque freedm.wad e basic.wad na sua pasta)
doom_game_path = freedm.wad
doom_scenario_path = basic.wad
doom_map = map01

# Duração
episode_timeout = 300

# --- RECOMPENSAS NO CFG ---
# Deixamos apenas as recompensas simples que funcionam
living_reward = -1 
death_penalty = 100

# --- VARIÁVEIS PARA O PYTHON ---
# Isso expõe a vida, munição e kills para o script Python
available_game_variables = 
    { 
        HEALTH     # Vida atual
        AMMO2      # Munição da Pistola (Arma 2)
        KILLCOUNT  # Contagem de mortes
    }

# Opções de Renderização
screen_format = RGB24
screen_resolution = RES_320X240

# Ações
available_buttons = 
    { 
        ATTACK
        MOVE_LEFT
        MOVE_RIGHT
        MOVE_FORWARD
        MOVE_BACKWARD
    }

mode = PLAYER
doom_skill = 5