doom_scenario_path = treina_mira.wad
doom_map = MAP01

deathmatch = true

# Impede que o episódio acabe sozinho se o monstro morrer
game_args += +sv_noexit 1
doom_skill = 3
episode_timeout = 4200

available_game_variables = { 
    HEALTH 
    AMMO2 
    MAP
    FRAGCOUNT
}

available_buttons = { 
    MOVE_LEFT 
    MOVE_RIGHT 
    ATTACK 
    MOVE_FORWARD 
    MOVE_BACKWARD 
    TURN_LEFT 
    TURN_RIGHT 
}

window_visible = true
render_hud = true
render_crosshair = false
render_weapon = true