# Configuração do jogo base
doom_game_path = freedm.wad 
doom_map = map01
mode = PLAYER
doom_skill = 3

# Regras do episódio
episode_timeout = 5000 # Tempo mais longo para o pega-pega
deathmatch = 1 # Necessário para multiplayer

# 1. REMOVE AS ARMAS: 0 = Apenas Punho (Fist)
available_weapons = 0

# --- DEFINIÇÃO DO MODO "PEGA-PEGA" ---
# Ações: Movimento, Virar e Correr. SEM ATIRAR.
available_buttons = 
    { 
        MOVE_FORWARD
        MOVE_BACKWARD
        TURN_LEFT 
        TURN_RIGHT
        SPEED 
        ATTACK
    }

# Recompensas nativas (usadas no YAML)
# Vamos desabilitar o frag_reward e usar o damage_made_reward como o "toque"
frag_reward = 0
damage_made_reward = 1
death_penalty = 10